{% extends 'SadbotVideoBundle::layout.html.twig' %}
{% trans_default_domain "VideoBundle" %}

{% block title %}Видео{% endblock %}
{% block content -%}
    <h1>Video list</h1>

    <div>
        <a href="{{ path('_video_upload') }}">
            Create a new entry
        </a>
    </div>

    {% for entity in entities %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <p>Author: {{ entity.author }}</p>
                {% if entity.image and entity.video %}
                    <a href="{{ path('_video_show', { 'id': entity.id }) }}"><img src="{{ entity.image.path }}" {{ entity.image.height > 250 ? 'height="250"':''}} alt="{{ entity.title }}"/></a>
                {% endif %}
                <div class="caption">
                    <h3><a href="{{ path('_video_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h3>
                    <p>{{ entity.description }}</p>
                    <p>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
