{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('_video') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('_video_download',{'id':entity.id}) }}">Download</a>
        </li>
        <li>
            <a href="{{ path('_video_edit', { 'id': entity.id }) }}">Edit</a>
        </li>
    </ul>

    <video id="example_video_1" class="video-js vjs-default-skin"
           controls preload="auto" width="640" height="264"
        <source src='{{ asset( path ) }}' type='{{ mimeType }}'/>

        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>


    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    {{ form(delete_form) }}
{% endblock %}