{% extends 'SadbotVideoBundle::layout.html.twig' %}
{% trans_default_domain "VideoBundle" %}

{% block content -%}
    <h1>Audio list</h1>
    {% for entity in entities %}
        <div class="media">
            <div class="media-left">
                {#<a href="#">#}
                    {#<img src="{{ entity. | imagine_filter('audio_thumbnail') }}"/>#}
                {#</a>#}
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{ path('_audio_show',{'id' : entity.id }) }}" {{ entity.title }}</h4>
                <p>{{ entity.description }}</p>
                <audio>
                    <source src="{{ entity.file.path }}" type="{{ entity.file.mimeType }}">
                </audio>
                <p>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</p>
            </div>
        </div>
    {% endfor %}



        <ul>
        <li>
            <a href="{{ path('_audio_upload') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
