{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Audio list</h1>
    {% for entity in entities %}
        <div class="media">
            <div class="media-left">
                {#<a href="#">#}
                    {#<img src="{{ entity. | imagine_filter('audio_thumbnail') }}"/>#}
                {#</a>#}
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ entity.title }}</h4>
                <p>{{ entity.description }}</p>
                <audio>
                    <source src="{{ asset(entity.path) }}" type="audio/mpeg">
                </audio>
                <p>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</p>
            </div>
        </div>
    {% endfor %}



        <ul>
        <li>
            <a href="{{ path('_audio_upload') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
