{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Audio creation</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_row(form.file) }}
        </div>

        <div>
            {{ form_row(form.title) }}
        </div>
        <div>
            {{ form_row(form.description) }}
        </div>
        <div>
            {{ form_row(form.status) }}
        </div>
        <div>
            {{ form_row(form.audioCategory) }}
        </div>

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('_audio') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
