{% extends 'SadbotVideoBundle::layout.html.twig' %}
{% trans_default_domain "VideoBundle" %}

{% block title %}Загрузка аудио{% endblock %}

{% block content -%}
    <h1>Audio creation</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_row(form.file, { 'attr' : {'id' : 'fileupload' } }  ) }}
        </div>

        <div>
            {{ form_row(form.title) }}
        </div>
        <div>
            {{ form_row(form.description) }}
        </div>
        <div>
            {{ form_row(form.status) }}
        </div>
        <div>
            {{ form_row(form.audioCategory) }}
        </div>

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('_audio') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
