{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Photo list</h1>

    <ul>
        <li>
            <a href="{{ path('_photo_upload') }}">
                Create a new entry
            </a>
        </li>
    </ul>

    <div class="row">

    {% for entity in entities %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{{ path('_photo_show', { 'id': entity.id }) }}"><img src="{{ entity.path | imagine_filter('photo_thumbnail') }}"/></a>
                <div class="caption">
                    <h3><a href="{{ path('_photo_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h3>
                    <p>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</p>
                    <p>{{ entity.author }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}
