{% extends 'SadbotVideoBundle::layout.html.twig' %}

{% block title %}
    {{ entity.title }}
{% endblock %}

{% block content -%}

    <h1>Photo</h1>

    <div>
        <ul class="record_actions">
            <li>
                <a href="{{ path('_photo') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('_photo_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            {#<li>#}
                {#<a href="{{ path('_photo_download',{'id':entity.id}) }}">Download</a>#}
            {#</li>#}
        </ul>


    </div>

    <div>
        <img src="{{  entity.file.path }}" {{ entity.file.height > 720 ? 'height="720"':''}} alt="{{ entity.title }}"/>

    </div>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Date update:</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.photoCategory }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
