{% extends '::base.html.twig' %}

{% block title %}
    {{ entity.title }}
{% endblock %}

{% block body -%}
    <h1>Photo</h1>

    <div>
        <ul class="record_actions">
            <li>
                <a href="{{ path('_photo') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('_photo_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>
                <a href="{{ path('_photo_download',{'id':entity.id}) }}">Download</a>
            </li>
        </ul>


    </div>

    <div>
        <img src="{{ entity.path | imagine_filter('photo_show') }}"/>
    </div>
    <table class="record_properties">
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ entity.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Date update:</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>

        </tbody>
    </table>
    {{ form(delete_form) }}

{% endblock %}
